/* Agregamos la fuente que vamos a utilizar en la página */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Monserrat';
}

html {
  scroll-behavior: smooth;
}

#inicio{
  background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("img/fondo-inicio.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#inicio .contenido header {
  background-color:  rgba(0, 0, 0, .8);
  position: fixed;
  width: 100%;
  z-index: 0;
  top: 0;
}

#inicio .contenido header .contenido-header {
  max-width: 1100px;
  margin:auto;
  display: flex;
  justify-content: space-between;
  align-items: 10px 20px;
  padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1{
  text-align: center;
  color: #ff5080;
}

#inicio .contenido header .contenido-header nav ul{
  list-style: none;
  display: flex;
  align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a{
   text-decoration: none;
   color: #fff;
   margin: 0 12px;
   font-weight: 400;
   transition: .5s;
  }
#inicio .contenido header .contenido-header nav ul a:hover{
  color: #ff5080;
  }

#inicio .contenido header .contenido-header .redes a{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover{
  color: #ff5080;
}

#inicio .contenido .presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#inicio .contenido .presentacion .bienvenida {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

#inicio .contenido .presentacion h2{
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;
}

#inicio .contenido .presentacion h2 span {
  font-size: 25px;
  color: #ff5080;
}

#inicio .contenido .presentacion .descripcion {
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

#inicio .contenido .presentacion a{
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  padding: 20px 25px;
  border: 2px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: .5s;
}

#inicio .contenido .presentacion a:hover{
  background-color: #ff5080;
}

#icono-nav{
  color: #fff;
  display: none;
}

/* SECCION SOBRE MI */
#sobremi{
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: #111135;
  display: flex;
}

#sobremi .contenedor-foto {
  max-width: 400px;
  margin-right: 80px;
}

#sobremi .contenedor-foto img{
  padding: 20px;
  width: 100%;
  border-radius: 20px;
  background-color: #f3f3f3;
}

#sobremi .sobremi{
  margin: 0 40px;
}

#sobre .sobremi .titulo-seccion{
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}

#sobremi .sobremi h2 span {
  color: #ff5080;
}

#sobremi .sobremi h3{
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

#sobremi .sobremi p{
  font-size: 14px;
  line-height: 25px;
  color: #565656;
  margin-bottom: 12px
}  

#sobremi .sobremi a{
  display: inline-block;
  text-decoration: none;
  color: #000;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #000;
  margin-top: 30px;
  transition: .5s;
}

#sobremi .sobremi a:hover{
  background-color: #ff5080;
  color: #fff;
}